<div id=<%= @type %> class="tab-pane fade in <%= "active" if @type == "All" %>">
  <div class="champions-grid">
    <% @roles_hash["#{@type}".to_sym].each do |champ_name_and_id| %>
      <% champ_img_url = "http://ddragon.leagueoflegends.com/cdn/#{@current_version}/img/champion/#{champ_name_and_id[1]}.png" %>
      <div class="champ-img-square">
        <a href=<%= "/champions/#{champ_name_and_id[1]}" %>>
          <img src="<%= champ_img_url %>">
          <p><%= champ_name_and_id[0] %></p>
        </a>
      </div>
    <% end %>
  </div>
</div>