<td class="stat-label <%= @stat_key %>">
  <p class="stat-label <%= @stat_key %>"><%= @stat_name %>:&nbsp;</p>
</td>

<td>
  <% if @stat_lv1 == @stat_lv18 %>
    <td class="stat-number-min">
      <p class="invisible">.</p>
    </td>
    <td class="stat-number <%= @stat_key %>">
      <p class="stat-number <%= @stat_key %>"><%= @stat_lv1.round(0) %></p>
    </td>
    <td class="stat-number-max">
      <p class="invisible">.</p>
    </td>
  <% else %>
    <td class="stat-number-min">
      <p class="stat-number-min <%= @stat_key %>"><%= @stat_lv1 %></p>
    </td>
    <td class="stat-number">
      <p>&nbsp;&ndash;&nbsp;</p>
    </td>
    <td class="stat-number-max">
      <p class="stat-number-max <%= @stat_key %>"><%= @stat_lv18 %></p>
    </td>
  <% end %>
</td>

<!--<div class="progress">-->
<!--  <div class="progress-bar <%#= @stat_key.to_s %>" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">-->
<!--    <p class="invisible">.</p>-->
<!--  </div>-->
<!--</div>-->

table.stats {
  overflow: hidden;
  padding: 0px;
  margin-top: 55px;
  td.stat-label {
    text-align: right;
  }
  td.stat-number-min {
    text-align: right;
  }
  td.stat-number-max {
    text-align: left;
  }
  td.stat-number {
    text-align: center;
  }
  p {
    font-size: 19px;
  }
  p.hpregen, p.spellblock {
  }
  tr.h-line {
    line-height: 1px;
    p {
      padding-bottom: 20px;
    }
  }
}