<div class="jumbotron champ">
  <div class="champ-info">
    <div class="champ-title">
      <h1 class="champ-name"><%= @champion.name %></h1>
      <h3 class="champ-title"><%= @champion.title %></h3>
    </div><!--end of champ title and name-->
    
    <div class="champ-details">
      <div class="champ-img">
        <img class="champ-img" src=<%= @champion.champ_img_url %> alt=<%= @champion.name %> />
      </div>
      
      <!-- Attack, Defense, Magic, Difficulty ratings out of 10 -->
      <div class="stats-summary">
        <table class="stats-summary">
          <% @champion.stat_summary.each do |stat, value| %>
            <% @stat_key = stat %>
            <% @value = value %>
            <%= render 'stats_summary' %>
          <% end %>
        </table>
      </div>
      
      <!-- Champion stat ranges from levels 1 to 18 -->
      <div class="stats">
        <table class="stats">
          <% @champion.stat_range.each do |stat, details| %>
            <!-- stat_keys: hp, mp, armor, spellblock, hpregen, mpregen, attackdamage, attackspeed -->
            <% @stat_key = stat.to_s %>
            <% @stat_name = details[:name] %>
            <% @stat_lv1 = details[:min] %>
            <% @stat_lv18 = details[:max] %>
            
            <%= render 'stats' %>
          <% end %>
        </table>
      </div>
    </div><!--end of champ details (stats)-->
  </div>
</div>