<div id=<%= "detailed#{@table_type}" %> class="tab-pane fade table-responsive">
  <table class="champs-table-detailed table-bordered table-condensed table-hover table-responsive tablesorter"
         data-toggle="table"
         data-sort-name="champ-name"
         data-sort-order="asc">
    <thead>
      <tr class="head">
        <th>Champion</th>
        <th class="{sorter: 'digit'}">Health</th>
        <th class="{sorter: 'digit'}">Health Regen</th>
        <th class="{sorter: 'digit'}">Mana</th>
        <th class="{sorter: 'digit'}">Mana Regen</th>
        <th class="{sorter: 'digit'}">Movespeed</th>
        <th class="{sorter: 'digit'}">Armor</th>
        <th class="{sorter: 'digit'}">Magic Resist</th>
        <th class="{sorter: 'digit'}">Attack Damage</th>
        <th class="{sorter: 'digit'}">Attack Speed</th>
        <th class="{sorter: 'digit'}">Attack Range</th>
      </tr>
    </thead>
    <tbody>
      <% Champion.order(:champ_name_id).each do |champ| %>
      <tr>
        <td class="col-md-1 name <%= champ[:primary] %>"><a class="name" href=<%= "/champions/#{champ[:champ_name_id]}" %>><%= champ[:name] %></a></td>
        <td class="col-md-1 hp"><%= champ["hp#{@table_type}"] %></td>
        <td class="col-md-1 hpregen"><%= champ["hpregen#{@table_type}"] %></td>
        
        <% if champ[:mpregenmin] == "50.0" %>
          <td class="col-md-1 energy"><%= champ["mp#{@table_type}"] %></td>
          <td class="col-md-1 energyregen"><%= champ["mpregen#{@table_type}"] %></td>
        <% else %>
          <td class="col-md-1 mp"><%= champ["mp#{@table_type}"] %></td>
          <td class="col-md-1 mpregen"><%= champ["mpregen#{@table_type}"] %></td>
        <% end %>
        
        <td class="col-md-1 movespeed"><%= champ["movespeed#{@table_type}"] %></td>
        <td class="col-md-1 armor"><%= champ["armor#{@table_type}"] %></td>
        <td class="col-md-1 spellblock"><%= champ["spellblock#{@table_type}"] %></td>
        <td class="col-md-1 attackdamage"><%= champ["attackdamage#{@table_type}"] %></td>
        <td class="col-md-1 attackspeed"><%= champ["attackspeed#{@table_type}"] %></td>
        <td class="col-md-1 attackrange"><%= champ["attackrange#{@table_type}"] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>