<div id="general" class="tab-pane fade in active table-responsive">
  <table class="champs-table-general table-bordered table-condensed table-hover tablesorter"
         id="myTable"
         data-toggle="table"
         data-sort-name="champ-name"
         data-sort-order="asc">
    <thead>
      <tr class="head">
        <th>Champion</th>
        <th>Attack</th>
        <th>Defense</th>
        <th>Magic</th>
        <th>Difficulty</th>
      </tr>
    </thead>
    <tbody>
      <% Champion.order(:champ_name_id) %>
      <% Champion.all.each do |champ| %>
      <tr>
        <td class="col-md-1 name <%= champ[:primary] %>"><a class="name" href=<%= "/champions/#{champ[:champ_name_id]}" %>><%= champ[:name] %></a></td>
        <td class="col-md-1 attack"><%= champ[:attack] %></td>
        <td class="col-md-1 defense"><%= champ[:defense] %></td>
        <td class="col-md-1 magic"><%= champ[:magic] %></td>
        <td class="col-md-1 difficulty"><%= champ[:difficulty] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>