<tr class=<%= @stat_key.to_s %>>
  <td class="general-stat" width="1px">
    <p style="float: right" "stat-label"><%= @stat_key.to_s.titleize %>: <%= @value %></p>
  </td>
  <td>
    <div class="progress">
      <div class="progress-bar <%= @stat_key.to_s %>" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= @value * 10 %>%;">
        <p class="invisible">.</p>
      </div>
    </div>
  </td>
</tr>