<div class="container champs-table">
  <h2 class="champs-table-title">Champion Index</h2>
  <ul class="nav nav-pills nav-justified white">
    <li class="active"><a class="white" data-toggle="tab" href="#general">General Stats</a></li>
    <li><a class="white" data-toggle="tab" href="#detailedmin">Level 1 Stats</a></li>
    <li><a class="white" data-toggle="tab" href="#detailedmax">Level 18 Stats</a></li>
  </ul>
  <div class="tab-content">
    <div id="general" class="tab-pane fade in active">
      <table class="champs-table-general table-responsive table-striped"
             data-toggle="table"
             data-sort-name="champ-name"
             data-sort-order="asc">
        <thead>
        <tr>
          <th data-field="champ-name" 
              data-sortable="true">
              Champion
          </th>
          <th data-field="attack" 
              data-sortable="true">
              Attack
          </th>
          <th data-field="defense" 
              data-sortable="true">
              Defense
          </th>
          <th data-field="magic" 
              data-sortable="true">
              Magic
          </th>
          <th data-field="difficulty" 
              data-sortable="true">
              Difficulty
          </th>
        </tr>
        </thead>
        <tbody>
          <% Champion.order(:champ_name_id) %>
          <% Champion.all.each do |champ| %>
          <tr>
            <td class="col-md-1 name"><a class="name" href=<%= "/champions/#{champ.champ_name_id}" %>><%= champ.name %></a></td>
            <td class="col-md-1 attack"><%= champ.attack %></td>
            <td class="col-md-1 defense"><%= champ.defense %></td>
            <td class="col-md-1 magic"><%= champ.magic %></td>
            <td class="col-md-1 difficulty"><%= champ.difficulty %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div><!-- End of table containing general stats. -->
    <div id="detailedmin" class="tab-pane fade">
      <table class="champs-table-detailed table-responsive table-striped"
             data-toggle="table"
             data-sort-name="champ-name"
             data-sort-order="asc">
        <thead>
        <tr>
          <th data-field="champ-name" 
              data-sortable="true">
              Champion
          </th>
          <th data-field="hp" 
              data-sortable="true">
              Health
          </th>
          <th data-field="hpregen" 
              data-sortable="true">
              Health Regen
          </th>
          <th data-field="mp" 
              data-sortable="true">
              Mana
          </th>
          <th data-field="mpregen" 
              data-sortable="true">
              Mana Regen
          </th>
          <th data-field="movespeed" 
              data-sortable="true">
              Movespeed
          </th>
          <th data-field="armor" 
              data-sortable="true">
              Armor
          </th>
          <th data-field="spellblock" 
              data-sortable="true">
              Magic Resist
          </th>
          <th data-field="attackdamage"
              data-sortable="true">
              Attack Damage
          </th>
          <th data-field="attackspeed" 
              data-sortable="true">
              Attack Speed
          </th>
          <th data-field="attackrange" 
              data-sortable="true">
              Attack Range
          </th>
        </tr>
        </thead>
        <tbody>
          <% Champion.order(:champ_name_id) %>
          <% Champion.all.each do |champ| %>
          <tr>
            <td class="col-md-1 name"><a class="name" href=<%= "/champions/#{champ.champ_name_id}" %>><%= champ.name %></a></td>
            <td class="col-md-1 hp"><%= champ.hpmin %></td>
            <td class="col-md-1 hpregen"><%= champ.hpregenmin %></td>
            <td class="col-md-1 mp"><%= champ.mpmin %></td>
            <td class="col-md-1 mpregen"><%= champ.mpregenmin %></td>
            <td class="col-md-1 movespeedmin"><%= champ.movespeedmin %></td>
            <td class="col-md-1 armor"><%= champ.armormin %></td>
            <td class="col-md-1 spellblock"><%= champ.spellblockmin %></td>
            <td class="col-md-1 attackdamage"><%= champ.attackdamagemin %></td>
            <td class="col-md-1 attackspeed"><%= champ.attackspeedmin %></td>
            <td class="col-md-1 attackrange"><%= champ.attackrangemin %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div><!-- End of table containing level 1 stats. -->
    <div id="detailedmax" class="tab-pane fade">
      <table class="champs-table-detailed table-responsive table-striped"
             data-toggle="table"
             data-sort-name="champ-name"
             data-sort-order="asc">
        <thead>
        <tr>
          <th data-field="champ-name" 
              data-sortable="true">
              Champion
          </th>
          <th data-field="hp" 
              data-sortable="true">
              Health
          </th>
          <th data-field="hpregen" 
              data-sortable="true">
              Health Regen
          </th>
          <th data-field="mp" 
              data-sortable="true">
              Mana
          </th>
          <th data-field="mpregen" 
              data-sortable="true">
              Mana Regen
          </th>
          <th data-field="movespeed" 
              data-sortable="true">
              Movespeed
          </th>
          <th data-field="armor" 
              data-sortable="true">
              Armor
          </th>
          <th data-field="spellblock" 
              data-sortable="true">
              Magic Resist
          </th>
          <th data-field="attackdamage"
              data-sortable="true">
              Attack Damage
          </th>
          <th data-field="attackspeed" 
              data-sortable="true">
              Attack Speed
          </th>
          <th data-field="attackrange" 
              data-sortable="true">
              Attack Range
          </th>
        </tr>
        </thead>
        <tbody>
          <% Champion.order(:champ_name_id) %>
          <% Champion.all.each do |champ| %>
          <tr>
            <td class="col-md-1 name"><a class="name" href=<%= "/champions/#{champ.champ_name_id}" %>><%= champ.name %></a></td>
            <td class="col-md-1 hp"><%= champ.hpmax %></td>
            <td class="col-md-1 hpregen"><%= champ.hpregenmax %></td>
            <td class="col-md-1 mp"><%= champ.mpmax %></td>
            <td class="col-md-1 mpregen"><%= champ.mpregenmax %></td>
            <td class="col-md-1 movespeedmax"><%= champ.movespeedmax %></td>
            <td class="col-md-1 armor"><%= champ.armormax %></td>
            <td class="col-md-1 spellblock"><%= champ.spellblockmax %></td>
            <td class="col-md-1 attackdamage"><%= champ.attackdamagemax %></td>
            <td class="col-md-1 attackspeed"><%= champ.attackspeedmax %></td>
            <td class="col-md-1 attackrange"><%= champ.attackrangemax %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div><!-- End of table containing level 18 stats. -->
  </div>
</div>