<div class="jumbotron">
  <div class="row">
    <div class="col-md-4">
      <h1><%= @champion.name %></h1>
      <img src=<%= @champ_image_url %> width="75%" height="75%" alt=<%= @champion.name %> />
    </div>
  </div>
</div>

<div class="jumbotron">
  <h2><%= @passive %></h2>
  <p><%= @passive_description %></p>
</div>

<div class="jumbotron">
  <h2><%= @Q_name %></h2>
  <p><%= @Q_descripion %></p>
</div>

<div class="jumbotron">
  <h2><%= @W_name %></h2>
  <p><%= @W_descripion %></p>
</div>

<div class="jumbotron">
  <h2><%= @E_name %></h2>
  <p><%= @E_descripion %></p>
</div>

<div class="jumbotron">
  <h2><%= @R_name %></h2>
  <p><%= @R_descripion %></p>
</div>