<div class="jumbotron">
  <div class="row">
    <div class="col-md-4">
      <h1><%= @champion.name %></h1>
      <h3><%= @champion.title %></h3>
      <img class="champ-img" src=<%= @champion.champ_img_url %> alt=<%= @champion.name %> />
    </div>
    <div class="col-md-8">
      <p class="lore"><%= @champion.lore.html_safe %></p>
    </div>
  </div>
</div>

<div class="jumbotron passive">
  <div class="passive-top">
    <div class="passive-img">
      <img class="passive-img" src=<%= @champion.passive_img_url %> alt=<%= @champion.passive %> />
    </div>
    <div class="passive-dynamics">
      <h2 class="passive-name"><%= @champion.passive %></h2>
      <p class="invisible">.</p>
    </div>
  </div>
  
  <div class="passive-bottom">
    <p><%= @champion.passive_description.html_safe %></p>
  </div>
</div>

<% @spell_key = "q" %>
<%= render 'spell' %>

<% @spell_key = "w" %>
<%= render 'spell' %>

<% @spell_key = "e" %>
<%= render 'spell' %>

<% @spell_key = "r" %>
<%= render 'spell' %>